:root {
  --color-background: #FFF;
  --color-error: #E7000B;
  --color-error-dark: #9F0712;
  --color-negative: #D1D5DC;
  --color-negative-dark: #6A7282;
  --color-primary: #FF8904;
  --color-primary-dark: #F54A00;
  --color-primary-light: #FFD6A8;
  --color-success: #00A63E;
  --color-text: #000;
  --color-warning: #F54A00;
}
