:root {
  --color-accent: oklch(0.7574 0.142073 237.6965);
  --color-background: #FFF;
  --color-background-dark: #E5E7EB;
  --color-border-light: #9CA3AF;
  --color-disabled: oklch(0.8078 0.02 242.66);
  --color-error: #E7000B;
  --color-error-dark: #9F0712;
  --color-negative: #D1D5DC;
  --color-negative-dark: #6B7280;
  --color-primary: oklch(0.7633 0.1644 62.66);
  --color-primary-dark: oklch(0.7051 0.1644 62.66);
  --color-primary-light: #FFD6A8;
  --color-shadow: rgba(0 0 0 / 0.25);
  --color-success: #00A63E;
  --color-text: #000;
  --color-text-light: #6B7280;
  --color-warning: #F54A00;
}
