:root {
  --dimension-1: 0.0625rem;
  --dimension-2: 0.125rem;
  --dimension-4: 0.25rem;
  --dimension-8: 0.5rem;
  --dimension-16: 1rem;
  --dimension-32: 2rem;
  --dimension-64: 4rem;
  --dimension-128: 8rem;
  --dimension-256: 16rem;

  --floating-action-button-inset: var(--dimension-16);
  --floating-action-button-size: var(--dimension-64);
  --floating-action-button-space: calc(
    var(--floating-action-button-size) +
      (2 * var(--floating-action-button-inset))
  );
  --nav-bar-height-mobile: var(--dimension-64);
}
