@value desktop_large, desktop_medium, desktop_small, tablet from '@/shared/styles/breakpoints.module.css';

.align-end-on-mobile {
  text-align: end;
}

.cell {
  display: none;
  flex-direction: column;
}

.cell-mobile {
  display: flex;
}

.label {
  color: var(--color-text-light);
  font-size: 0.75rem;
  line-height: 1.33rem;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (tablet) {
  .align-end-on-mobile {
    text-align: start;
  }

  .cell-tablet {
    display: flex;
  }

  .label {
    display: none;
  }

  .value {
    font-size: 1.125rem;
  }
}

@media (desktop_small) {
  .cell-desktop-small {
    display: flex;
  }
}

@media (desktop_medium) {
  .cell-desktop-medium {
    display: flex;
  }
}

@media (desktop_large) {
  .cell-desktop-large {
    display: flex;
  }
}
