@value desktop_large, desktop_medium, desktop_small, tablet from '@/shared/styles/breakpoints.module.css';

.container {
  display: none;
}

.responsive-column-header {
  display: none;
}

@media (tablet) {
  .container {
    display: grid;

    margin-inline: 1rem;
    padding-bottom: 0.5rem;

    font-weight: bold;

    border-bottom-width: 1px;
  }
}

@media (desktop_small) {
  .header-desktop-small {
    display: block;
  }
}

@media (desktop_medium) {
  .header-desktop-medium {
    display: block;
  }
}

@media (desktop_large) {
  .header-desktop-large {
    display: block;
  }
}
