.container {
  display: flex;
  flex-direction: column;
}

.eyebrow {
  color: var(--color-text-light);
  font-size: 0.75rem;
  line-height: 1.33rem;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
}
