.button {
  --fab-size: 4rem;
  --inset: 1rem;

  background-color: var(--color-primary);
  border: 3px solid black;
  border-radius: 50%;
  color: var(--color-text);
  height: var(--fab-size);
  inset-block-end: calc(var(--nav-bar-height-mobile) + var(--inset));
  inset-inline-end: var(--inset);
  line-height: var(--fab-size);
  position: fixed;
  width: var(--fab-size);

  &:active {
    background-color: var(--color-primary-dark);
  }
}

@media (width >= 64rem) {
  .button {
    inset-block-end: var(--inset);
    inset-inline-end: var(--inset);
  }
}
