.appearance-danger {
  background-color: var(--color-error);

  &:hover {
    background-color: var(--color-error-dark);
  }
}

.appearance-negative {
  background-color: var(--color-negative);

  &:hover {
    background-color: var(--color-negative-dark);
  }
}

.appearance-primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.button {
  --default-shadow-dimensions: var(--dimension-2) var(--dimension-4)
    var(--dimension-4);
  --active-shadow-dimensions: var(--dimension-1) var(--dimension-2)
    var(--dimension-2);

  box-shadow: var(--default-shadow-dimensions) var(--color-shadow);
  color: var(--color-text);
  cursor: pointer;
  font-weight: 500;
  transition:
    box-shadow 50ms linear,
    scale 50ms linear;
  width: 100%;

  &:active {
    box-shadow: var(--active-shadow-dimensions) var(--color-shadow);
    scale: 0.97;
  }

  &:disabled {
    background-color: var(--color-disabled);
    box-shadow: none;
    color: var(--color-text-light);
    cursor: not-allowed;
    scale: initial;
  }

  &:focus {
    outline: none;
    box-shadow: var(--default-shadow-dimensions) var(--color-accent);
  }

  &:focus:active {
    outline: none;
    box-shadow: var(--active-shadow-dimensions) var(--color-accent);
  }
}

.size-large {
  font-size: var(--font-size-24);
  padding: var(--dimension-16);
}

.size-medium {
  font-size: var(--font-size-16);
  padding: var(--dimension-16);
}

.size-small {
  font-size: var(--font-size-14);
  padding: var(--dimension-8);
}
