.container {
  display: none;
}

/* Tablet */
@media (width >= 48rem) {
  .container {
    display: grid;

    margin-inline: calc(4 * var(--spacing));
    padding-bottom: calc(2 * var(--spacing));

    font-weight: bold;

    border-bottom-width: 1px;
  }
}
