@import "./styles/reset.css";
@import "./fonts/fontawesome.min.css";
@import "./styles/colors.css";
@import "./styles/dimensions.css";

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
