@value tablet from '@/shared/styles/breakpoints.module.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
  margin-block-start: 2rem;
}

.footer-button-wrapper {
  background-color: var(--color-background);
  display: flex;
  justify-content: stretch;
  padding: 1rem;
}

.footer-button-wrapper-settings {
  margin-block-start: 2rem;
}

.footer-button-wrapper-onboarding {
  bottom: 0;
  border-top: 1px solid var(--color-border-light);
  position: fixed;
  inset-inline: 0;
}

@media (tablet) {
  .footer-button-wrapper-onboarding {
    border: none;
    margin-block-start: 2rem;
    position: static;
  }
}
