.footer {
  background-color: var(--color-background);
  border: 1px solid #99a1af;
  display: flex;
  gap: 1rem;
  inset-block-end: 0;
  inset-inline: 0;
  justify-content: stretch;
  padding: 1rem;
  position: fixed;
}

.footer-button {
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-start: 2rem;
  padding-block-end: 1rem;
  padding-inline: 1rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
